<table> 
    <tr>
        <td>
            <div class="form-group gcore-form-row" id="form-row-2">
                <label for="sec_razao_social" class="control-label gcore-label-left">Razão Social</label>
                <div class="gcore-input gcore-display-table" id="fin-sec_razao_social">
                    <input name="sec_razao_social" id="sec_razao_social" value="" placeholder="" maxlength="255" size="80" class="validate[&#039;required&#039;,&#039;alphanum&#039;] form-control A" title="" style="" data-inputmask="" data-load-state="" data-tooltip="" type="text" />
                </div>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="form-group gcore-form-row" id="form-row-4">
                <label for="sec_nm_fantasia" class="control-label gcore-label-left">Nome Fantasia</label>
                <div class="gcore-input gcore-display-table" id="fin-sec_nm_fantasia">
                    <input name="sec_nm_fantasia" id="sec_nm_fantasia" value="" placeholder="" maxlength="" size="" class="form-control A" title="" style="" data-inputmask="" data-load-state="" data-tooltip="" type="text" />
                </div>
            </div>
        </td>
    </tr>
    
    <tr>
        <td>
            <div class="form-group gcore-form-row" id="form-row-6">
                        <label for="sec_tp_logradouro" class="control-label gcore-label-left">Tipo Logradouro</label>
                <div class="gcore-input gcore-display-table" id="fin-sec_tp_logradouro"><input name="sec_tp_logradouro" id="sec_tp_logradouro" value="" placeholder="" maxlength="" size="" class="form-control A" title="" style="" data-inputmask="" data-load-state="" data-tooltip="" type="text" /></div>
            </div>
        </td>
        
        <td>   
            <div class="form-group gcore-form-row" id="form-row-8">
                <label for="sec_logradouro" class="control-label gcore-label-left">Logradouro</label>
                <div class="gcore-input gcore-display-table" id="fin-sec_logradouro">
                    <input name="sec_logradouro" id="sec_logradouro" value="" placeholder="" maxlength="" size="" class="form-control A" title="" style="" data-inputmask="" data-load-state="" data-tooltip="" type="text" />
                </div>
            </div>
        </td>
    </tr>

    <tr>
        <td>
        </td>
    </tr>

    <tr>
        <td>
        </td>
    </tr>

    <tr>
        <td>
        </td>
    </tr>

    <tr>
        <td>
        </td>
    </tr>




  
</table>



<div class="form-group gcore-form-row" id="form-row-10">
    <label for="sec_numero" class="control-label gcore-label-left">Número</label>
    <div class="gcore-input gcore-display-table" id="fin-sec_numero">
        <input name="sec_numero" id="sec_numero" value="" placeholder="" maxlength="" size="" class="form-control A" title="" style="" data-inputmask="" data-load-state="" data-tooltip="" type="text" />
    </div>
</div>

<div class="form-group gcore-form-row" id="form-row-12">
    <label for="sec_complemento" class="control-label gcore-label-left">Complemento</label>
    
    <div class="gcore-input gcore-display-table" id="fin-sec_complemento">
        <input name="sec_complemento" id="sec_complemento" value="" placeholder="" maxlength="" size="" class="form-control A" title="" style="" data-inputmask="" data-load-state="" data-tooltip="" type="text" />
    </div>
</div>
<div class="form-group gcore-form-row" id="form-row-14">
    <label for="sec_cep" class="control-label gcore-label-left">CEP</label>
    <div class="gcore-input gcore-display-table" id="fin-sec_cep">
        <input name="sec_cep" id="sec_cep" value="" placeholder="" maxlength="" size="" class="form-control A" title="" style="" data-inputmask="" data-load-state="" data-tooltip="" type="text" />
    </div>
</div>

<div class="form-group gcore-form-row" id="form-row-16">
        <label for="sec_bairro" class="control-label gcore-label-left">Bairro</label>
        <div class="gcore-input gcore-display-table" id="fin-sec_bairro">
            <input name="sec_bairro" id="sec_bairro" value="" placeholder="" maxlength="" size="" class="form-control A" title="" style="" data-inputmask="" data-load-state="" data-tooltip="" type="text" />
        </div>
</div>
<div class="form-group gcore-form-row" id="form-row-18">
    <label for="sec_cidade" class="control-label gcore-label-left">Cidade</label>
<div class="gcore-input gcore-display-table" id="fin-sec_cidade"><input name="sec_cidade" id="sec_cidade" value="" placeholder="" maxlength="" size="" class="form-control A" title="" style="" data-inputmask="" data-load-state="" data-tooltip="" type="text" /></div></div>
<div class="form-group gcore-form-row" id="form-row-20"><label for="sec_estado" class="control-label gcore-label-left">Estado</label>
<div class="gcore-input gcore-display-table" id="fin-sec_estado"><input name="sec_estado" id="sec_estado" value="" placeholder="" maxlength="" size="" class="form-control A" title="" style="" data-inputmask="" data-load-state="" data-tooltip="" type="text" /></div></div><div class="form-group gcore-form-row" id="form-row-22"><label for="sec_cnpj" class="control-label gcore-label-left">CNPJ</label>
<div class="gcore-input gcore-display-table" id="fin-sec_cnpj"><input name="sec_cnpj" id="sec_cnpj" value="" placeholder="" maxlength="" size="" class="form-control A" title="" style="" data-inputmask="" data-load-state="" data-tooltip="" type="text" /></div></div><div class="form-group gcore-form-row" id="form-row-24"><label for="sec_inscricao_estadual" class="control-label gcore-label-left">Inscrição Estadual</label>
<div class="gcore-input gcore-display-table" id="fin-sec_inscricao_estadual"><input name="sec_inscricao_estadual" id="sec_inscricao_estadual" value="" placeholder="" maxlength="" size="" class="form-control A" title="" style="" data-inputmask="" data-load-state="" data-tooltip="" type="text" /></div></div><div class="form-group gcore-form-row" id="form-row-26"><label for="sec_cnae" class="control-label gcore-label-left">CNAE</label>
<div class="gcore-input gcore-display-table" id="fin-sec_cnae"><input name="sec_cnae" id="sec_cnae" value="" placeholder="" maxlength="" size="" class="form-control A" title="" style="" data-inputmask="" data-load-state="" data-tooltip="" type="text" /></div></div><div class="form-group gcore-form-row" id="form-row-28"><label for="sec_contato" class="control-label gcore-label-left">Contato</label>
<div class="gcore-input gcore-display-table" id="fin-sec_contato"><input name="sec_contato" id="sec_contato" value="" placeholder="" maxlength="" size="" class="form-control A" title="" style="" data-inputmask="" data-load-state="" data-tooltip="" type="text" /></div></div><div class="form-group gcore-form-row" id="form-row-30"><label for="sec_telefone" class="control-label gcore-label-left">Telefone</label>
<div class="gcore-input gcore-display-table" id="fin-sec_telefone"><input name="sec_telefone" id="sec_telefone" value="" placeholder="" maxlength="" size="" class="form-control A" title="" style="" data-inputmask="" data-load-state="" data-tooltip="" type="text" /></div></div><div class="form-group gcore-form-row" id="form-row-32"><label for="sec_email" class="control-label gcore-label-left">Email</label>
<div class="gcore-input gcore-display-table" id="fin-sec_email"><input name="sec_email" id="sec_email" value="" placeholder="" maxlength="" size="" class="form-control A" title="" style="" data-inputmask="" data-load-state="" data-tooltip="" type="text" /></div></div><div class="form-group gcore-form-row" id="form-row-34"><label for="sec_pncebt" class="control-label gcore-label-left">PNCEBT</label>
<div class="gcore-input gcore-display-table" id="fin-sec_pncebt"><input name="sec_pncebt" id="sec_pncebt" value="" placeholder="" maxlength="" size="" class="form-control A" title="" style="" data-inputmask="" data-load-state="" data-tooltip="" type="text" /></div></div><div class="form-group gcore-form-row" id="form-row-36"><label for="sec_pncebt_telefone" class="control-label gcore-label-left">PNCEBT Telefone</label>
<div class="gcore-input gcore-display-table" id="fin-sec_pncebt_telefone"><input name="sec_pncebt_telefone" id="sec_pncebt_telefone" value="" placeholder="" maxlength="" size="" class="form-control A" title="" style="" data-inputmask="" data-load-state="" data-tooltip="" type="text" /></div></div><div class="form-group gcore-form-row" id="form-row-38"><label for="sec_pncebt_email" class="control-label gcore-label-left">PNCEBT Email</label>
<div class="gcore-input gcore-display-table" id="fin-sec_pncebt_email"><input name="sec_pncebt_email" id="sec_pncebt_email" value="" placeholder="" maxlength="" size="" class="form-control A" title="" style="" data-inputmask="" data-load-state="" data-tooltip="" type="text" /></div></div><div class="form-group gcore-form-row" id="form-row-39"><div class="gcore-input gcore-display-table" id="fin-button23"><input name="button23" id="button23" type="submit" value="Submit" class="form-control A" style="" data-load-state="" /></div></div>