
.table{
	background:#fff;
	width:200px;
	height:200px;
	padding:0px;
	border:0px solid #f0f0f0;
	float:left;
	margin-right:20px;
}

.td {
	background: #e3e3e3;
	width: 70px;
	height: 70px;
	text-align: left;
	border-radius: 0;
	border: solid 1px #fff;
	vertical-align: top;
	padding: 4px;
	font-size: 12px;
	font-weight: bold;
	color: #004276;
	font-family: 'Varela', sans-serif !important;
}

.hj{
	background: #000080;
	text-align: left;
	vertical-align: top;
	padding: 4px;
	font-family: 'Varela', sans-serif !important;
	font-size: 10px;
	color: #f0f0f0;
	font-weight: bold;
	border: solid 1px #fff;
}

.dom{
	background: #fff0ea;
	border-radius: 0px;
	width:70px;
	height:70px;
	vertical-align: top;
	padding: 4px;
	text-align: left;
	font-family: 'Varela', sans-serif !important;
	font-size: 12px;
	color: #004276;
	font-weight: bold;
	border: solid 1px #fff;

}

.evt{
/*background: #CCFF99;*/
background: #eee url('js/timepicker/images/ui-bg_highlight-hard_100_eeeeee_1x100.png');
border: inset 1px #d8dcdf;
border-radius: 0px;
vertical-align: top;
padding: 4px;
font-weight: bold;
color: #004276;
font-size: 12px;
font-family: 'Varela', sans-serif !important;
text-align: left;
}

	.evt span {
		display: block;
		margin-top: 12px;
		text-align: center;
		color: #555;
		font-size: 10px;
	}

		.evt span a{
			text-align: center;
			color: #000080;
			margin: 0 auto;
			width: 100%;
			display: block;
		}

.tabela{
	width: 600px;
	height: auto;
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
	border-top: solid 1px #666 !important;
	box-shadow: 0px -4px 0 #000080;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-spacing: 0;
	border-collapse: collapse;
	padding-top: 5px;
	background: transparent;;
}

	.tabela tr{
		background: #fafafa;
	}

		.tabela tr td{
			border-radius: 0;
		}

.container-mes{
	width: 100%;
	height: auto !important;
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #fff !important;
	border-top: solid 5px #fff;
	border-bottom: solid 5px #fff;
	line-height: 40px;
}


	.mes{
		background:#000080!important;
		color: #fff;
		border-radius: 0;
		font-family: Arial, sans-serif;
		font-size: 15px;
		color: #fff;
		font-weight: bold;
		overflow: hidden;
	}

	.mes a{
		display: block;
		width: 101%;
		height: auto !important;
		line-height: 50px;
		color: #fff !important;
		/*background: #555;*/
		background: transparent;
		font-family: Arial, sans-serif;
		font-size: 20px;
		color: #fff;
		font-weight: bold;
		zoom: 1;
	}

		.mes a:hover {
			color: #555 !important;
			text-decoration: none;
		}

	.container-mes .mes:first-child{
		/*background: transparent;*/
		border-radius: 15px 0 0 15px;
		-moz-border-radius: 15px 0 0 15px;
		-webkit-border-radius: 15px 0 0 15px;
	}

		.mes:first-child a{
			font-size: 19px;
		}

	.container-mes .mes:last-child{
		/*background: transparent;*/
		border-radius: 0 15px 15px 0;
		-moz-border-radius: 0 15px 15px 0;
		-webkit-border-radius: 0 15px 15px 0;
	}

		.mes:last-child a{
		}

.container-semana {
	width: 100%;
	height: auto !important;
	line-height: 25px;
	background: transparent;
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
}


.important{
background:#404040;
width:300px;
height:100px;
text-align:left;
font-size:11px;
color:#f0f0f0;
padding:1px 1px 1px 10px;
}

.sem{
	/*background: #ed622f !important;*/
	width:100;
	height: 20px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	font-family: 'Varela', sans-serif !important;
	border-radius: 0 !important;
	border-bottom: solid 3px #fff;
}


body,td,th {
    font-family: Verdana;
    font-size: 14px;
    color: #000000;
border-radius: 10px

}

a:link {

    color: #000000;

    text-decoration: none;

}

a:visited {

    text-decoration: none;

    color: #000000;

}

a:hover {

    text-decoration: underline;

    color: #FF9900;

}

a:active {

    text-decoration: none;

}


/*** OVERLAY ***/


	.modal {
		display: block;
		/*display: none;*/
		overflow: hidden;
		width: 450px;
		height: auto !important;
		text-align: center;
		margin: 0 auto;
		position: absolute;
		top: 10px;
		left: 10%;
		z-index: 99999;
		background: #fff;
		border: solid 2px #999;
		/*padding: 15px;*/
		box-shadow: 0px 0px 4px 4px #fdfdfd;
	}

		.modal-header{
			width: 100%;
			height: 25px;
			float: left;
			margin-bottom: 3px;
			background: #fff;
			border-bottom: solid 1px #cecece;
			box-shadow: 0px 1px 4px #333;
		}

		.modal-body{
			width: 95.5%;
			min-height: 110px;
			max-height: 350px;
			overflow: auto !important;
			padding: 15px;
		}
	
		.fechaIsso{
		    cursor:pointer;
			position: absolute;
			/*position: fixed;*/
			top: 3px;
			right: 3px;
			background: #555;
			width: 20px;
			height: 18px;
			color: #fff;
			font-size: 8px;
			font-family: 'Varela', sans-serif !important;
			font-weight: bold;
			line-height: 16px;
			text-align: center;
			box-shadow: inset 1px -1px 2px #fafafa;
			border-top: groove 1px #fafafa;
			border-right: groove 1px #fafafa;
		}
.boasvindas a{
	color: #fff !important;
	font-family: Arial, sans-serif;
}


/*** MODAL TABLE ***/

.modal table{
	margin-top: 10px;
	border-spacing: 0;
	border-collapse: collapse;
	border-bottom: solid 1px #cbcbcb;
}

	.header-table-modal{
		height: 35px;
		background: #ed622f;
		text-align: center;
		display: block;
		border-radius: 5px 5px 0 0 !important;
		-moz-border-radius: 5px 5px 0 0 !important;
		-webkit-border-radius: 5px 5px 0 0 !important;
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffffff 22%, #fbfbfb 45%, #e8e7e7 71%, #d3cfcf 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(22%,#ffffff), color-stop(45%,#fbfbfb), color-stop(71%,#e8e7e7), color-stop(100%,#d3cfcf)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffffff 22%,#fbfbfb 45%,#e8e7e7 71%,#d3cfcf 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffffff 22%,#fbfbfb 45%,#e8e7e7 71%,#d3cfcf 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffffff 22%,#fbfbfb 45%,#e8e7e7 71%,#d3cfcf 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ffffff 22%,#fbfbfb 45%,#e8e7e7 71%,#d3cfcf 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3cfcf',GradientType=0 ); /* IE6-9 */
		border: solid 1px #b8b4b4;
		border-bottom: none;
	}

	.header-table-modal td{		
		text-align: left;
		padding: 5px 10px;
		font-family: 'Varela', sans-serif !important;
		font-size: 14px;
		font-weight: bold;
		color: #444;
	}

	.modal .header-atributes{
		border-top: solid 1px #999;
		box-shadow: 0px 0 0 0px #b8b4b4;
		border-bottom: solid 1px #555;
		border-left: solid 1px #888;
	}
		.modal .header-atributes td{
			background: #D8D8DA url(../build/assets/skins/sam/sprite.png) repeat-x 0 0;
			border-radius: 0;
			-moz-border-radius: 0;
			-moz-border-radius: 0;
			box-shadow: 0 -5px 0 0 #000080;
			line-height: 23px;
			text-align: center;
			border-right: solid 1px #888;
			font-family: 'Varela', sans-serif !important;
			font-size: 12px;
			color: #333;
			font-weight: bold;
			padding: 0 15px;
		}

.modal .info-modal{
	border-left: solid 1px #cbcbcb;
}

.modal .info-modal:hover{
	background: #fff0ea;
	cursor: pointer;
}

	.modal .info-modal td{
		border-right: solid 1px #cbcbcb;
		border-radius: 0 !important;
		padding: 5px 10px;
		text-align: left;
		font-family: Arial, sans-serif;
		font-size: 13px;
		color: #333;
	}
	.modal .info-modal .info-status{
		text-align: center;	
	}


	